.promocao-search__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promocao-search__header h1{
    text-transform: uppercase;
    color: #888;
}

.promocao-search__input{
    margin-bottom: 20px;
    display: flex;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}
